@model IEnumerable<ItransitionApp5.Models.IndexViewModel>
@{
	ViewData["Title"] = "Home Page";
	int i = 0;
}

<div class="container">
	<form method="post">
		<div class="row">
			<div class="btn-group col-sm" role="group" aria-label="Basic example" align="center">
				@if (User.IsInRole("admin"))
				{
					<button type="submit" asp-action="Delete" class="btn btn-primary">Delete</button>
					<button type="submit" asp-action="BlockUser" class="btn btn-primary">Block</button>
					<button type="submit" asp-action="UnblockUser" class="btn btn-primary">Unblock</button>
					<button type="submit" asp-action="UpgradeToAdmin" class="btn btn-primary">Upgrade to admin</button>
					<button type="submit" asp-action="DowngradeToUser" class="btn btn-primary">Downgrade to user</button>
				}
				<button type="submit" asp-action="SendMessage" class="btn btn-primary">Message</button>

			</div>
			<div class="col-sm">
				<input class="form-control" type="text" name="messageText" placeholder="Type message here ..." >
			</div>
		</div>

		<br />

		<table class="table">
			<thead>
				<tr>
					<th scope="col" width="5"><input class="form-check-input" type="checkbox" value="" name="parrentId" id="flexCheckDefault" onClick="check_uncheck_checkbox(this.checked);"></th>
					<th scope="col" width="5">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Registration</th>
					<th scope="col">Last Login</th>
					<th scope="col">Role</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model)
				{
					<tr>
						<th scope="row"><input class="form-check-input" type="checkbox" name="ids" value="@user.Id"></th>
						<th scope="row">@(++i)</th>
						<td>@user.Name</td>
						<td>@user.Email</td>
						<td>@user.RegistrationDate</td>
						<td>@user.LastLoginDate</td>
						<td>@user.Role</td>
						<td>@user.Status</td>
					</tr>
				}
			</tbody>
		</table>
	</form>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

